body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: cursive;
}

.header {
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #3A3B3C;
    height: 65px;
    margin: 0;
}

.main-view {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: #1f272a;
    min-height: 656px;
}

.imgtxt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    gap: 16px;
    padding-left: 150px;
    padding-right: 150px;

}

.quotebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 280px;
    padding-right: 280px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #c0c0c0;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3A3B3C;
    color: aliceblue;
    height: 30px;
    padding: 7px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.subtitle1, .subtitle2, .subtitle3 {
    font-weight: 900;
}

.author {
    font-weight: 900;
    font-size: 20px;
    margin-left: auto;
}

.quote {
    font-size: 32px;
    font-style: italic;
    padding-bottom: 12px;
}

.header > img {
    width: 50px;
    height: auto;
    padding-left: 22px;
}

.description1 {
    font-size: 18px;
    color: #e5e7eb;
}

.subtitle1 {
    color: #c1c8b9;
    font-size: 48px;
}

.imageholder > img {
    max-width: 500px;
    max-height: auto;
    min-width: 100px;
}

.button1 {
    font-size: 17px;
    border: none ;
    background-color: #b7cbc8;
    color: #1f1e1c;
    text-align: center;
    padding: 3px 5px;
}

.subtitle2 {
    text-align: center;
    font-size: 36px;
    color: 	#383838;
}

.boxes {
    background-color: #eeeeee;
    margin: 0;
    padding: 70px;
}

.img > text {
    color: #3A3B3C;
}

.img1 > img, .img2 > img, .img3 > img, .img4 >img  {
    max-width: 220px;
    max-height: auto;
    margin-bottom: 12px;
}
